<div class="container">


  <h1>Esempi Angular 8</h1>





  <!--  <app-style-and-loops></app-style-and-loops> -->

  <!--
      <div>
  AppComponent Nome: {{nome}}
</div>
<app-input-output
                  [(nome)]="nome"
                  descrizione="<b><u>bla bla bla</u></b><script>alert('xss')</script>"
                  [snacks]="['nocciole','cookies']"
                  (loaded)="log($event)"
                  (saluta)="alert($event)"
                  ></app-input-output>
  -->




  <app-form-template></app-form-template>


  <!-- <app-form-reactive></app-form-reactive> -->

  <!-- <app-dynamic-form></app-dynamic-form> -->


  <!-- <app-test-bootstrap></app-test-bootstrap> -->


  <router-outlet></router-outlet>


</div>
